*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1, h2, p, h5{
    padding : 10px 0;
}
body{
    background-color: #fff5e5 !important;
}
.home{
    position: relative;
}
.home  .nav{
    border-bottom: 1px solid #1a1818;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.scrolled{
    transition: all ease-in-out .3s;
    background-color: #a1c5ff;
    box-shadow: 0 0 10px 0 #000;
}
.navbar_toggle{
    display: none;
    cursor: pointer;
}
.home .nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: 400;
}
/* servics */
.gallery{
    position: relative;
}
.gallery .img{
    background-image: url(./img_home.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.gallery .img:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 500px; /* Should match the height of the image */
    background-color: rgba(0, 0, 0, 0.438); /* Adjust opacity as needed */
    z-index: 0; 
}
.gallery .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallery .title .title_big{
    font-size: 90px;
    color: #a1c5ff;

}
.gallery .title .title_small{
    text-align: center;
    font-size: 20px;
    color: #fffcf2;
}
/* body */
.body{
    margin-top: 50px;
}
.body .row .col-md-4{
    margin-top: 20px;
}
.body .card_{
    position: relative;
    border-radius: 9px;
    width: 95%;
    margin: 0 auto;
}
.body .card_:hover .img{
    scale: 1.11;
    transition: all ease-in-out 1s;
} 
.body .card_ .img{
    position: relative;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 9px;
    scale: 1.1;
}
.body .card_ .img0{
    background-image: url(./img/bedroom1.jpg);
}
.body .card_ .img1{
    background-image: url(./img/bedroom2.jpg);
}
.body .card_ .img2{
    background-image: url(./img/bedroom3.jpg);
}
.body .card_ .img3{
    background-image: url(./img/room1.jpg);
}
.body .card_ .img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px; /* Should match the height of the image */
    background-color: rgba(0, 0, 0, 0.199); /* Adjust opacity as needed */
    z-index: 0; /* Place it above the image */
}
.body .card_ .img .price{
    background: #fff5e5;
    position: absolute;
    top : 10%;
    left: 7%;
    padding: 10px ;  
    border: 2px solid #1a1818;
}
.body .card_ .img .row_div{
    background: #fff5e5;
    position: absolute;
    bottom : 10%;
    left: 50%;
    padding: 5px ;
    width: 80%;  
    border: 2px solid #1a1818;
    transform: translateX(-50%);
}
.body .card_ .big_title{
    border-top: 1px solid #1a1818;
    font-size: 30px;
    margin: 10px 0;
    padding-top: 5px;
}
.body .card_ .row_div span{
    margin-left: 10px;
    font-size: 8px;
}
.body .card_{
    padding: 10px;
}
.body .card_ .img .img_icon{
    width: 20px;
    margin-right: 5px;
}
.body .card_ a{
    text-decoration: none !important;
    font-size: 12px;
    color:#1a1818;
    font-weight: 600;
    border-radius: 0px;
    position: relative;
    display: inline-block;
    transition: all ease-in-out .2s;
}
.body .card_ a::before{
    position: absolute;
    content: '';
    background: #000;
    bottom: 0;
    width: 70%;
    color: #000;
    height: 1px;
    transition: all ease-in-out .8s;
}
.body .card_ a:hover::before{
    background: #496899;
}
.body .card_ a:hover{
    transform: translateY(-5px); 
    color: #496899;
}


/* footer */
.footer
{
    background-color: #1a1818;
    padding: 10px;
    margin-top: 20px;
}
.footer h1{
    text-align: center;
    font-size: 20px;
    color: #fff5e5;
}
.footer h1 span{
    color: #fff6a1;
}



@media (max-width: 768px) {
    .home .nav {
        opacity: 0.3;
        transform: translate(-50%,-100%);
    }
    .home .navbar_toggle{
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
    }

    .home .nav.open{
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transform: translate(-50%,0);
        transition: all ease-in-out .5s;
    }
    .home .navbar_toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 5px;
        transition: all 0.3s;
    }
    .home .navbar_toggle.open span:nth-child(1){
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .home .navbar_toggle.open span:nth-child(2){
        opacity: 0;
    }
    .home .navbar_toggle.open span:nth-child(3){
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
}

